// Import all the separate custom style files here.
@import 'test';

// You can also create styles below.
// e.g. h3 { color: $body-color }

.bigImage {
  background-image:url('../assets/big.jpg');  //IMPORTANT!! image url is relative from master.scss which imports _master-theme.
  background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0%;
	color:white;
  height: 500px;
}

.green {
  background-color: green
}
